

body{
    background-color: rgb(212, 175, 55)
}
table{
    background-color: #A60006;
    width: auto;
    height: auto;
    margin: auto;
}

img{
    width: 50px;
    height: auto;
   
}

.form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    display: block;
    background-color: #A60006;
    
}
label{
    display: block;
    margin: auto;
    width: 50%;
   
}
input,textarea{
    display: block;
    width: 75%
    
}